@import "spritesmith-generated/sprite";

$logo-width: 152px;
$logo-height: 152px;

.bubble-wrap {
    overflow: hidden;
    height: 600px;
}

.bubbles {
    position: relative;
    background: salmon;
}

.bubble {
    position: absolute;
    width: $logo-width;
    height: $logo-height;
    border-radius: 50%;
    box-shadow:
            0 15px 35px rgba(0, 0, 0, 0.1),
            0 3px 10px rgba(0, 0, 0, 0.1);
    //background-image: url(#{$spritesheet-image});
    //background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9332/stripe-logo-bubbles-spritesheet.png);
    //background-size: 1076px 1076px;
    //background-color: gold;
}

// .logo1 { background-position:   0      0; }
.logo1 {
    @include sprite($logo1);
}
.logo2 {
    @include sprite($nasa);
}
.logo3 {
    @include sprite($awards);
}
.logo4 {
    @include sprite($avast);
}
.logo5 {
    @include sprite($bower);
}

body {
    background: #E6EEF7;
}
