@import "spritesmith-generated/sprite";
@import "logos-variables";
@import "logos";

.bubble-wrap {
    overflow: hidden;
    height: 600px;
}

.bubbles {
    position: relative;
    background: salmon;
}

.bubble {
    position: absolute;
    width: $logo-width;
    height: $logo-height;
    border-radius: 50%;
    box-shadow:
            0 15px 35px rgba(0, 0, 0, 0.1),
            0 3px 10px rgba(0, 0, 0, 0.1);
    background-image: url(#{$spritesheet-image});
    background-size: $spritesheet-width * $ratio, $spritesheet-height * $ratio;
}

body {
    background: #E6EEF7;
}
